.header {
  width: 595px;
  margin: auto;
}

.header img {
  width: 100%;
}

.content {
  width: 595px;
  margin: auto;
}

.content__heading img {
  width: 100%;
}

.content__list {
  width: 522px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #000;
}

.content__list:last-child {
  border-bottom: 0;
}

.content__list--03 li {
  height: 136px;
  position: relative;
}

.content__list--03 li img {
  position: absolute;
  z-index: -1;
  left: 13px;
  top: -5px;
}

.content__list--absolute {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.content__list--absolute li input:checked + label:after {
  top: 1px;
}

.content__list--absolute li label::before {
  margin-top: 0;
}

.content__list--absolute li:nth-child(1) {
  position: absolute;
  left: -8px;
  bottom: 199px;
}

.content__list--absolute li:nth-child(2) {
  position: absolute;
  left: -8px;
  bottom: 160px;
}

.content__list--absolute li:nth-child(3) {
  position: absolute;
  right: -33px;
  top: 10px;
}

.content__list--absolute li label {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 900;
  letter-spacing: -1px;
}

.content__item {
  width: 151px;
  padding: 0 13px;
  position: relative;
}

.content__item input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.content__item input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: 19px;
  width: 5px;
  height: 11px;
  border: solid #eb80b5;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.content__item:nth-child(3) {
  padding-right: 0;
}

.content__item label {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 900;
  letter-spacing: -1px;
  cursor: pointer;
}

.content__item label span {
  font-size: 8px;
  line-height: 2;
}

.content__item label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #000;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  margin-top: -8px;
}

.content__item img {
  padding-top: 5px;
}

.content__figure {
  width: 512px;
  height: 277px;
  background-image: url("../img/item-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  position: relative;
}

.content__form {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 536px;
  height: auto;
  border: 2px solid #000;
  padding-bottom: 15px;
  margin-top: 11px;
}

.content__form label {
  font-size: 9px;
  background-color: #000;
  color: white;
  padding: 4px;
  line-height: 2;
}

.content__form .input {
  background-color: transparent;
  border: none;
}

.content__form .input:focus {
  outline: none;
}

.content__form--wrapper {
  width: 502px;
}

.content__form--wrapper-1 {
  margin-bottom: 17px;
}

.content__form--wrapper-1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #000;
}

.content__form--wrapper-1 ul li .input {
  width: 180px;
}

.content__form--wrapper-1 ul li:nth-child(2) .input {
  width: 188px;
}

.content__form--wrapper-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #000;
}

.content__form--wrapper-2 ul li {
  position: relative;
}

.content__form--wrapper-2 ul li .input {
  width: 136px;
}

.content__form--wrapper-2 ul li span {
  position: absolute;
  right: 13px;
  bottom: 2px;
  font-size: 9px;
}

.content__form--wrapper-2 ul li:nth-child(2) .input {
  width: 256px;
}

.content__form--wrapper-2 ul li:nth-child(2) span {
  position: absolute;
  left: 55px;
  bottom: 20px;
  font-size: 9px;
}

.content__form-heading {
  margin-bottom: 14px;
}

.content__contact {
  padding: 9px 0;
  margin: auto;
}

@media only screen and (max-width: 595px) {
  .header {
    width: 100vw;
    margin: auto;
  }
  .header img {
    width: 100%;
  }
  .content {
    width: 100vw;
    margin: auto;
  }
  .content__heading img {
    width: 100%;
  }
  .content__list {
    width: 87.731vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    margin-top: 2.521vw;
    padding-bottom: 2.521vw;
    border-bottom: 0.336vw solid #000;
  }
  .content__list:last-child {
    border-bottom: 0;
  }
  .content__list--03 li {
    height: 22.857vw;
    position: relative;
  }
  .content__list--03 li input:checked + label:after {
    top: 1px;
  }
  .content__list--03 li label::before {
    margin-top: -2.345vw;
  }
  .content__list--03 li img {
    position: absolute;
    z-index: -0.168vw;
    left: 2.185vw;
    top: -0.840vw;
    height: 22.857vw;
  }
  .content__list--absolute {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .content__list--absolute li input:checked + label:after {
    top: 0.168vw;
  }
  .content__list--absolute li label::before {
    margin-top: 0;
  }
  .content__list--absolute li:nth-child(1) {
    position: absolute;
    left: -1.345vw;
    bottom: 33.445vw;
  }
  .content__list--absolute li:nth-child(2) {
    position: absolute;
    left: -1.345vw;
    bottom: 25.891vw;
  }
  .content__list--absolute li:nth-child(3) {
    position: absolute;
    right: -5.546vw;
    top: 0.340vw;
  }
  .content__list--absolute li label {
    font-size: 2.017vw;
    line-height: 1.5;
    font-weight: 900;
    letter-spacing: -0.168vw;
  }
  .content__item {
    width: 25.378vw;
    padding: 0 2.185vw;
    position: relative;
  }
  .content__item:nth-child(3) {
    padding-right: 0;
  }
  .content__item input:checked + label:after {
    top: 0.600vw;
    left: 3.193vw;
    width: 0.840vw;
    height: 1.849vw;
    border: solid #eb80b5;
    border-width: 0 0.336vw 0.336vw 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .content__item label {
    font-size: 2.017vw;
    line-height: 1.5;
    font-weight: 900;
    letter-spacing: -0.168vw;
  }
  .content__item label span {
    font-size: 1.345vw;
    line-height: 2;
  }
  .content__item label:before {
    border: 0.168vw solid #000;
    -webkit-box-shadow: 0 0.168vw 0.336vw rgba(0, 0, 0, 0.05), inset 0px -2.521vw 1.681vw -2.017vw rgba(0, 0, 0, 0.05);
            box-shadow: 0 0.168vw 0.336vw rgba(0, 0, 0, 0.05), inset 0px -2.521vw 1.681vw -2.017vw rgba(0, 0, 0, 0.05);
    padding: 1.345vw;
    margin-right: 0.840vw;
    margin-top: -1.345vw;
  }
  .content__item img {
    padding-top: 0.840vw;
    width: 100%;
  }
  .content__figure {
    width: 86.050vw;
    height: 46.555vw;
    background-image: url("../img/item-bg.png");
    margin: auto;
    position: relative;
  }
  .content__form {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90.084vw;
    height: auto;
    border: 0.336vw solid #000;
    padding-bottom: 2.521vw;
    margin-top: 1.849vw;
  }
  .content__form label {
    font-size: 1.513vw;
    background-color: #000;
    color: white;
    padding: 0.672vw;
    line-height: 2;
  }
  .content__form--wrapper {
    width: 84.370vw;
  }
  .content__form--wrapper-1 {
    margin-bottom: 2.857vw;
  }
  .content__form--wrapper-1 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 0.168vw solid #000;
  }
  .content__form--wrapper-1 ul li .input {
    width: 30.252vw;
  }
  .content__form--wrapper-1 ul li:nth-child(2) .input {
    width: 31.597vw;
  }
  .content__form--wrapper-2 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 0.168vw solid #000;
  }
  .content__form--wrapper-2 ul li {
    position: relative;
  }
  .content__form--wrapper-2 ul li .input {
    width: 22.857vw;
  }
  .content__form--wrapper-2 ul li span {
    position: absolute;
    right: 2.185vw;
    bottom: 0.336vw;
    font-size: 1.513vw;
  }
  .content__form--wrapper-2 ul li:nth-child(2) .input {
    width: 43.025vw;
  }
  .content__form--wrapper-2 ul li:nth-child(2) span {
    position: absolute;
    left: 9.244vw;
    bottom: 3.361vw;
    font-size: 1.513vw;
  }
  .content__form-heading {
    margin-bottom: 2.353vw;
    width: 100%;
  }
  .content__form-heading img {
    width: 100%;
  }
  .content__contact {
    padding: 1.513vw 0;
    margin: auto;
    width: 100%;
  }
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  line-height: 1;
  vertical-align: bottom;
}

body {
  line-height: 1;
}

article,
aside,
dialog,
figure,
footer,
header,
nav,
section {
  display: block;
}

ul,
ol,
dl {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
  outline: none;
}

img {
  vertical-align: bottom;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */